.baseLayoutContainer {
    height: 100%;
    display: grid;
    grid-template-rows: 80px auto 80px;
    grid-template-columns: 140px auto;
    gap: 2px;
    grid-template-areas:
      "sidebar  header"
      "sidebar  content"
      "sidebar  footer";
}

.headerContainer {
    grid-area: header;
}

.sidebarContainer {
    grid-area: sidebar;
}

.baseLayoutContent {
    grid-area: content;
}

.footerContainer {
    grid-area: footer;
}

main {
    width: 100%;
    height: 100%;
}
