.title{
    position: absolute;
    left: 0px;
    top: -13%;
    width: 100%;
    height: 32.11009174311927%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgba(51,51,51,1.00);
    font-family: Heebo;
    font-size: 33.6px;
    font-weight: 800;
    line-height: 46.40625000000001px;
    color: #333333;
}
.SchoolInformation {
    position: absolute;

    float: right;
    left: 25%;
    width: 770px;
    height: 250%;
    color: #2F3A5F;
    top: 44%;
}
.ReportPurpose{
    /* מטרת הדוח */


    position: absolute;
    width: 917px;
    height: 42px;
    left: -22%;
    top: 99px;

    /* text */

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: right;

    color: #333333;
}


