.PageInformation{
    position: absolute;
    width: 60%;
    height: 90%;
    left: 25%;
    top: 43%;

    background: #FFFFFF;


}
.PageCounter{
    font-weight: bolder;
    font-size: x-large;
    left: -42%;
}
.PageInProgress{
    text-align: center;
    font-weight: bolder;
}