.SchoolCounter {
    font-weight: bolder;
    font-size: x-large;
    left: -42%;
}

.SchoolInformation {
    position: absolute;
    float: right;
    width: 30%;
    height: 115%;
    left: -48%;
    top: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 48px;

    filter: drop-shadow(2px 2px 16px rgba(137, 189, 193, 0.2))
}

.SchoolsInProgress {
    text-align: center;
    font-weight: bolder;
}

.li{
    margin: 3px 10px;
    color: black;
    font-size: 14px;
}

.Details{
    position: absolute;
    width: 176px;
    height: 13px;
    left: 202px;
    top: 188.08px;

    /* H2 */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: right;

    color: #2F3A5F;
}
.time{
    /* םינמז חול */

    position: absolute;
    width: 143px;
    height: 15px;
    left: 232px;
    top: 446.08px;

    /* H2 */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: right;

    color: #2F3A5F;


}


