.SchoolCounter {
    font-weight: bolder;
    font-size: x-large;
    left: -42%;
}

.SchoolInformation {
    position: absolute;

    float: left;
    left: 0%;
    width: 300px;
    height: 100%;
    color: #2F3A5F;
    top: 27%;
   /*
    float: right;
    width: 30%;
    height: 115%;
    left: -48%;
    top: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 48px;

    filter: drop-shadow(2px 2px 16px rgba(137, 189, 193, 0.2))

    */
}

.SchoolsInProgress {
    text-align: center;
    font-weight: bolder;
}

.li{
    margin: 3px 10px;
    color: black;
    font-size: 14px;
}

.Details{
    position: absolute;
    width: 176px;
    height: 13px;
    left: 40%;
    top: 20%;

    /* H2 */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: right;

    color: #2F3A5F;
}
.aass{
    /* נתונים כמותיים */
    /* Auto layout */
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: -9px;
    width: 195px;
    height: 77px;
    /* Inside auto layout */
    top: -5%;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.aassTe1{
    position: absolute;
    /* םירומ */
    width: 138px;
    height: 13px;
    /* text */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #4F4F4F;
    top: 38%;
    left: 20%;
}
.aassTe2{
    position: absolute;
    /* םירומ */
    width: 138px;
    height: 13px;
    /* text */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #4F4F4F;
    top: 65%;
    left: 20%;
}
.aassTe3{
    position: absolute;
    /* םירומ */
    width: 238px;
    height: 13px;
    /* text */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #4F4F4F;
    top: 120%;
    left: -32%;
}
.aassTe4{
    position: absolute;
    /* םירומ */
    width: 238px;
    height: 13px;
    /* text */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #4F4F4F;
    top: 155%;
    left: -32%;
}
.aassTe5{
    position: absolute;
    /* םירומ */
    width: 238px;
    height: 13px;
    /* text */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #4F4F4F;
    top: 213%;
    left: -32%;
}
.time{
    position: absolute;
    width: 143px;
    height: 15px;
    left: 50%;
    top: 55%;

    /* H2 */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: right;

    color: #2F3A5F;
}
.time1{
    position: absolute;
    width: 292px;
    height: 24px;
    left: -117%;
    top: 213%;
    /* small text */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: right;
    color: #4F4F4F;
}
.time2{
    position: absolute;
    width: 292px;
    height: 24px;
    left: -117%;
    top: 350%;
    /* small text */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: right;
    color: #4F4F4F;
}
.time3{
    position: absolute;
    width: 292px;
    height: 24px;
    left: -117%;
    top: 500%;
    /* small text */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: right;
    color: #4F4F4F;
}
.time4{
    position: absolute;
    width: 292px;
    height: 24px;
    left: -117%;
    top: 640%;
    /* small text */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: right;
    color: #4F4F4F;
}


