.headerContainer {
    display: flex;
    width: 100%;
    left: 0;
    justify-content: flex-end;
    position: absolute;
}

.NotificationsIcon {
    order: 9;
    margin: 10px;
}

.MailIcon {
    order: 9;
    margin: 10px;
}

.CalendarIcon {
    order: 9;
    margin: 10px;
}

.UserIcon {
    order: 9;
    margin: 10px;
}

.userGreeting {
    order: 9;
    margin: 10px;
}

.logoutButton {
    order: 1;
    align-self: flex-end;
    flex-basis: 30px
}

.LineIcon {
    padding-top: 0.5%;
    order: 9;
}
.LayoutContainer{
    order: 9;
    margin: 60px;
}