.surveyBackground {

    position: relative;
    height: 100%;
    padding: 100px 100px 25% 100px;
}

/*.mainSurvey .sv_body {*/
/*    background-color: #416eff;*/
/*}*/

/*.question_content_custom {*/
/*    border: 1px solid lightgray;*/
/*    border-radius: 5px;*/
/*    border-left: 4px solid #18a689;*/
/*    padding: 10px;*/
/*}*/
/*.question-title-answered {*/
/*    background-color: lightblue;*/
/*}*/

/*.sd-root-modern {*/

/*    border: 1px solid lightgray;*/
/*    border-radius: 5px;*/
/*    border-left: 4px solid #18a689;*/
/*    padding: 10px;*/
/*    background-color: orange;*/
/*}*/



/*.mainSurvey {*/
/*    background-color: red;*/
/*}*/

/*:root {*/
/*    --color: #ff2;*/
/*}*/

/*.mainSurvey .sv_body {*/
/*    background-color: var(--color);*/
/*}*/








/*.mainSurvey .sv_main .sv_body{*/

/*    background-color: #ff004b;*/
/*}*/