.homeContainer {
    display: flex;

    height: 100%;
    width: 100%;
}

.schoolsTableContainer {
    width: 67%;
}

.strengthSummaryContainer {
    width: 32%;
}

.LayoutContainer {
    width: 10%;
}
