.Text1{
    width: 100px;
    height: 300px;
    float: right;
    left: 90%;
}
.Text2{
    width: 201px;
    height: 300px;
    float: right;
    left: 90%;
}
.sizee{
    width: 30%;
    height: 70%;
}