.Text1{
    width: 100px;
    height: 650px;
    float: right;
    left: 95%;
}
.Text2{
    width: 201px;
    height: 550px;
    float: right;
    left: 90%;
    color: red;
}
.Size{
    width: 30%;
    height: 70%;
}