.title1{
    position: relative;
    flex: none;
    margin-bottom: 16.5px;
    width: 80.44895935058597px;
    height: 10.58125px;
    left: 7%;
}
.title1 .LineTitle1{
    position: absolute;
    left: 73.14895935058594px;
    top: 0.48125000000000007px;
    width: 71.02425791781496%;
    height: 96.17486338797814%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    align-items: center;
    color: rgba(51,51,51,1.00);
    font-family: Heebo;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.781250000000004px;
}
.title1 .LineTitle2{
    position: absolute;
    left: 76.36%;
    right: 12.7%;
    top: 0%;
    bottom: 88.61%;

    /* text bold */

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #E78536;

    /* */


}
.OutputText1{
    width: 121px;
    height: 120px;
}
.OutputText2{
    width: 125px;
    height: 170px;
}
.InText1{
    position: absolute;
    width: 1199px;
    height: 99px;
    left: -160%;
    top: 10%;
    /* Big text report */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 940;
    font-size: 23px;
    line-height: 29px;
    text-align: right;

    color: #333333;
}
.InText2{
    position: absolute;
    width: 1199px;
    height: 99px;
    left: -160%;
    top: 30%;
    /* Big text report */

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 29px;
    text-align: right;

    color: #333333;
}
.InText3{
    position: absolute;
    width: 1999px;
    height: 99px;
    top: 50%;
    right: 7%;
    /* Big text report */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 29px;
    text-align: right;
    color: #333333;
}
.InText4{
    position: absolute;
    width: 1999px;
    height: 99px;
    top: 70%;
    right: 7%;
    /* Big text report */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 29px;
    text-align: right;
    color: #333333;
}
.InText5{
    position: absolute;
    width: 1999px;
    height: 99px;
    top: 89%;
    right: 7%;
    /* Big text report */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 29px;
    text-align: right;
    color: #333333;
}
.InText7{
    position: absolute;
    width: 1999px;
    height: 99px;
    top: 13%;
    right: 20%;
    /* Big text report */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 29px;
    text-align: right;
    color: #333333;
}
.InText8{
    position: absolute;
    width: 1999px;
    height: 99px;
    top: 40%;
    right: 20%;
    /* Big text report */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
    text-align: right;
    color: #333333;
}
.InText9{
    position: absolute;
    width: 1999px;
    height: 99px;
    top: 63%;
    right: 20%;
    /* Big text report */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
    text-align: right;

    color: #333333;
}
.InText10{
    position: absolute;
    width: 1999px;
    height: 99px;
    top: 89%;
    right: 7%;
    /* Big text report */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
    text-align: right;
    color: #333333;
}
.InText11{
    position: absolute;
    width: 1999px;
    height: 99px;
    top: 13%;
    right: 7%;
    /* Big text report */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
    text-align: right;
    color: #333333;
}
.InText12{
    position: absolute;
    width: 1999px;
    height: 99px;
    top: 40%;
    right: 7%;
    /* Big text report */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
    text-align: right;
    color: #333333;
}
.InText13{
    position: absolute;
    width: 1999px;
    height: 99px;
    top: 65%;
    right: 7%;
    /* Big text report */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
    text-align: right;
    color: #333333;
}