.Layout1{
    display: flex;
    height: 100%;
    width: 100%;
}
.Layout{
    order: 1;
    margin: 0%;
    position: absolute;
    right: 13.9%;
    top: 12%;
    bottom: 0%;
}


.StrSchool{
    position: absolute;
    left: 9%;
    right: -91%;
    top: -3%;
    bottom: 15%;
    order: 10;
    margin: 3%;
}

.Main{
    /* ישאר */

    position: absolute;
    left: 100.89%;
    right: 2%;
    top: -0.11%;
    bottom: 97.43%;

}