.sidebarContainer {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #F2F2F2;
    padding-top: 100px;
    box-sizing: border-box;
}

.bottomLogo {
    order: 5;
    margin-top: auto;
}

.link {
    width: 100%;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.sidebarItemContainer {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: transparent;
}
