.sidebarContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;

    padding: 10px;
}

.link {
    width: 100%;
}

.link * {
    color: #ffffff;
    text-decoration: none;
}
